.pacotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1rem;
}

.card {
    background-color: #ffffff;
    border: 1px solid #7f8c8d;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: #27ae60;
    margin: 1rem;
}

.card p {
    margin: 0 1rem 1rem;
}

.botao-comprar {
    display: inline-block;
    background-color: #2ecc71;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.botao-comprar:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.titulo-pacotes {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 1.8rem;
  color: var(--verde-escuro);
}
h1, h2, h3 {
  text-align: center;
}
